@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: #000;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
body {
  font-family: 'Poppins';
  font-size: 14px;
}
.menu-bar {
  padding: 23px 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding-bottom: 15px;
}
.menu-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar-inner .menu-logo {
  padding-right: 79px;
}
.menu-bar-inner nav {
  margin-left: -80px;
  margin-top: -3px;
}
.menu-bar-inner nav .navbar .nav-item {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  vertical-align: middle;
}
.menu-bar-inner nav .navbar .nav-item a {
  color: #fff;
}
.menu-bar-inner nav .navbar .nav-item a:hover {
  cursor: pointer;
  color: #dd2f31;
}
.menu-bar-inner nav .navbar .nav-item:first-child {
  margin-left: 0;
}
.menu-bar-inner .navbar-icon {
  margin-top: -8px;
  margin-right: -20px;
}
.menu-bar-inner .navbar-icon:first-child {
  margin-left: 0px;
}
.menu-bar-inner .navbar-icon i {
  display: inline-block;
  margin-left: 22px;
  margin-right: 20px;
  vertical-align: middle;
  color: #fff;
}
.menu-bar-inner .navbar-icon i:hover {
  cursor: pointer;
  color: #dd2f31;
}
.menu-bar-inner .navbar-icon a {
  color: #989898;
  font-size: 14px;
}
.slider {
  background-image: url(/Giaodien4/assets/img/Base.jpg);
  height: 947px;
  position: relative;
}
.introduction {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 525px;
  margin-top: -39px;
  margin-left: -3px;
}
.introduction-inner {
  color: #fff;
}
.introduction-inner .shop {
  font-weight: 700;
  font-size: 60px;
  margin-top: 49px;
}
.introduction-inner .introduce {
  font-weight: 700;
  font-size: 40px;
  margin-top: -7px;
  margin-left: 1px;
}
.introduction-inner .description {
  font-weight: 400;
  font-size: 14px;
  color: #ccc;
  margin-top: 22px;
  margin-left: 4px;
  line-height: 1.7;
}
.introduction-inner .btn {
  margin-top: 75px;
}
.introduction-inner .btn a {
  color: #fff;
  background-color: transparent;
  padding: 13px 49px;
  border: 1px solid #fff;
  text-transform: uppercase;
}
.introduction-inner .btn a:hover {
  cursor: pointer;
  color: #dd2f31;
  border: 1px solid #dd2f31;
}
.category {
  padding: 0;
  margin-top: -77px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
}
.category-list {
  width: calc(100% / 3);
}
.category-list-image {
  line-height: 0;
}
.category-list > img {
  width: 100%;
}
.category-list-inner {
  text-align: center;
  line-height: 2.5;
}
.category-list-inner .title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.category-list-inner .describe {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.tab {
  display: flex;
  margin-top: 98px;
}
.tab a {
  font-weight: 700;
  font-size: 18px;
  margin-left: 34px;
  margin-right: 34px;
  text-transform: uppercase;
}
.tab a:first-child {
  margin-left: 0;
}
.tab a:hover {
  color: #dd2f31;
  border-bottom: #dd2f31;
}
/*# sourceMappingURL=style.css.map */