.menu-bar {
    padding: 23px 0;
    background-color: fade(#000, 60%);
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-bottom: 15px;
    
    &-inner {
        .flex();

        .menu-logo {
            padding-right: 79px;
        }

        nav {
            margin-left: -80px;
            margin-top: -3px;
            .navbar {
                .nav-item {
                    display: inline-block;
                    margin-left: 24px;
                    margin-right: 24px;
                    vertical-align: middle;

                    a {
                        color: #fff;

                        &:hover {
                            cursor: pointer;
                            color : @hover;
                        }
                    }

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

        }

        .navbar-icon {
            margin-top: -8px ;
            margin-right: -20px;
            &:first-child {
                margin-left: 0px;
            }
            i {
                display: inline-block;
                margin-left: 22px;
                margin-right: 20px;
                vertical-align: middle;
                color: #fff;

                &:hover {
                    cursor: pointer;
                    color : @hover;
                }
            }

            a {
                color: @banner-description;
                font-size: 14px;
            }
        }
    }

}

