.menu-bar {
    padding: 23px 0;
    background-color: fade(#000, 80%);
    font-size: 16px;
    font-weight: 400;

    &-inner {
        .flex();
        .menu-logo {
            padding-right: 79px;
        }
        nav {
            .navbar {
                .nav-item {
                    display: inline-block;
                    margin-left: 28px;
                    margin-right: 29px;
                    vertical-align: middle;
                    a {
                        color: #fff;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }

        }
        .navbar-icon {
            i {
                color: #fff;
            }
                    
        }    
    }

} 